* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: "Helvetica", sans-serif;
}

.main-header {
	background-color: #333333;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
}

.main-nav,
.small-nav {
	display: grid;
	justify-items: center;
	padding: 0 1rem;
}

.small-nav {
	display: none;
}

.main-nav__list,
.small-nav__list {
	list-style: none;
	width: 100%;
	max-width: 996px;
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
}
.main-nav__item,
.small-nav__item {
	height: 2.75rem;
	display: grid;
	align-items: center;
}

.main-nav__link,
.small-nav__link {
	color: #999;
	text-decoration: none;
	font-size: 0.75em;
}
.main-nav__link:hover,
.main-nav__link:active,
.small-nav__link:hover,
.small-nav__link:active {
	color: white;
}
.apple-logo:hover,
.apple-logo:active {
	fill: white;
}

.welcome-section {
	margin-top: 2.75rem;
	padding: 0.5rem 1rem;
	background-color: #f5f5f7;
}
.welcome-message {
	font-size: 0.6rem;
	text-align: center;
}

.welcome-message a {
	text-decoration: none;
	color: #3f86d6;
}

.welcome-message a:hover,
.welcome-message a:active {
	text-decoration: underline;
}

.product-link__title {
	font-size: 2rem;
}

.product-link {
	display: block;
	text-align: center;
	width: 100%;
	text-decoration: none;
}

.product-link__subtitle {
	padding: 1rem;
	font-size: 1.1rem;
}

.product-link__cta {
	text-align: center;
}

.product-link__cta a {
	padding: 0.5rem 1rem;
	text-decoration: none;
}

.product-link__cta a:hover,
.product-link__cta a:focus {
	text-decoration: underline;
}

.iphone-13-pro,
.iphone-13,
.macbook {
	padding: 2.75rem;
	height: 736px;
	background-position: left 50% bottom 50%;
	background-size: cover;
	background-clip: border-box;
	background-repeat: no-repeat;
	margin-bottom: 0.5rem;
}

.iphone-13-pro {
	background-image: url(https://www.apple.com/v/home/ag/images/heroes/iphone-13-pro/hero_iphone_13pro__dhnsegysa42u_mediumtall_2x.jpg);
}
.macbook {
	background-image: url(https://www.apple.com/v/home/ag/images/heroes/macbook-pro/hero_macbookpro__eatonjfwvuc2_medium_2x.jpg);
}
.iphone-13-pro .product-link__title,
.macbook .product-link__title,
.products .product-link__title {
	color: black;
}
.iphone-13-pro .product-link__subtitle,
.macbook .product-link__subtitle,
.products .product-link__subtitle {
	color: #1d1d1f;
	font-weight: normal;
}
.iphone-13-pro .product-link__cta a,
.macbook .product-link__cta a,
.products .product-link__cta a {
	color: #06c;
}

.iphone-13 {
	background-image: url(https://www.apple.com/v/home/ag/images/heroes/iphone-13/hero_iphone_13__f194u1rdooeq_mediumtall_2x.jpg);
}
.iphone-13 .product-link__title {
	color: #f5f5f7;
	font-size: 2rem;
}
.iphone-13 .product-link__subtitle {
	color: #fec2eb;
	font-size: 1.1rem;
	font-weight: normal;
}

.iphone-13 .product-link__cta a {
	color: #2997ff;
}

.macbook {
	margin-bottom: 0;
}

.products {
	padding: 0.5rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 650px;
	gap: 0.5rem;
}

.product {
	background-position: left 50% bottom 50%;
	background-size: cover;
	background-clip: border-box;
	background-repeat: no-repeat;
	margin-bottom: 0.5rem;
}
.homepod {
	background-image: url(https://www.apple.com/v/home/ag/images/promos/apple-card/tile__cauwwcyyn9hy_medium_2x.jpg);
}

.airpods {
	padding-bottom: 1rem;
	display: grid;
	align-content: end;
	background-image: url(https://www.apple.com/v/home/ag/images/promos/airpods/tile_airpods__fuv6vgn42y2q_medium_2x.jpg);
}

.watch {
	background-image: url(https://www.apple.com/v/home/ag/images/promos/watch-series-7/tile_watch__e9n11b6m6yq2_medium_2x.jpg);
}

.arcade {
	background-image: url(https://www.apple.com/v/home/ag/images/promos/arcade-bundle/tile_arcade__ewkth5cd0wia_medium_2x.jpg);
}

.card {
	background-image: url(https://www.apple.com/v/home/ag/images/promos/apple-card/tile__cauwwcyyn9hy_medium_2x.jpg);
}
.tv {
	padding: 0.5rem;
	display: grid;
	align-content: space-between;
	background-image: url(https://www.apple.com/v/home/ag/images/promos/tv-plus-charlie-brown-halloween/tile_charliebrown__eolk1igxqpw2_medium_2x.jpg);
}

.product-link__description-paragraph {
	color: black;
}

.tv .product-link__cta a {
	color: black;
}

.tv .product-link__description img {
	width: 100%;
}

.main-footer {
	background-color: #f5f5f7;
	color: #6e6e73;
	padding: 0.5rem;
	font-size: 0.5rem;
}
.disclaimer {
	border-bottom: 1px solid #d2d2d7;
}
.disclaimer p {
	line-height: 1.3rem;
}
.support-links-big {
	padding: 0.5rem 0;
	display: grid;
	grid-auto-flow: column;
	justify-content: space-evenly;
}

.support-links-big ul {
	list-style: none;
}
.support-links-big a {
	color: unset;
	text-decoration: none;
	line-height: 1.2rem;
}
.support-links-big a:hover,
.support-links-big a:focus {
	text-decoration: underline;
}
.support-links-small {
	display: none;
}
.support-links-small ul {
	display: grid;
	font-size: 0.7rem;
	padding: 0.5rem;
}
.support-links-small li {
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	line-height: 1.2rem;
	border-bottom: 1px solid #d2d2d7;
}
.support-links-small a {
	color: unset;
	text-decoration: none;
}
@media screen and (max-width: 833px) {
	.main-nav {
		display: none;
	}
	.support-links-big {
		display: none;
	}
	.small-nav {
		display: grid;
	}
	.support-links-small {
		display: block;
	}
}
