* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: "Helvetica", sans-serif;
}

.main-header {
	background-color: #333333;
	width: 100%;
	position: fixed;
}

.main-nav {
	display: grid;
	justify-items: center;
	padding: 0 1rem;
}

.main-nav__list {
	list-style: none;
	width: 100%;
	max-width: 996px;
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
}
.main-nav__item {
	height: 2.75rem;
	display: grid;
	align-items: center;
}

.main-nav__link {
	color: #999;
	text-decoration: none;
	font-size: 0.75em;
}
.main-nav__link:hover,
.main-nav__link:active {
	color: white;
}
.apple-logo:hover,
.apple-logo:active {
	fill: white;
}
